*.gem
*.rbc
~*
#*
*~
.bundle
Gemfile.lock
.rbenv-version
.ruby-version
vendor
doc/*
tmp/*
.yardoc
pkg
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
